.radio--inline.pseudo-class-last-of-type {
  margin-right: 0;
}

.checkbox--inline.pseudo-class-last-of-type {
  margin-right: 0;
}

.login-menu__button.pseudo-class-hover {
  background: none;
}

.sidebar-menu__link.pseudo-class-hover,
.sidebar-menu__link.pseudo-class-active,
.sidebar-menu__link.pseudo-class-focus {
  background-color: #fff;
  border-left-color: #ee8917;
  font-weight: 600;
}

.listing__fields--bottom-aligned .listing__field.pseudo-class-last-of-type {
  margin-bottom: 0;
}

.featured__stats .stats__wrapper.pseudo-class-last-child {
  margin-bottom: 0;
}

.button__no-bg-wrapper--circle.pseudo-class-hover .icon,
.button__no-bg-wrapper--circle.pseudo-class-hover .ui-dialog-titlebar-close .ui-icon,
.ui-dialog-titlebar-close .button__no-bg-wrapper--circle.pseudo-class-hover .ui-icon {
  color: #32afff;
  border-color: #32afff;
}

.button__no-bg-wrapper--circle.pseudo-class-hover .button__no-bg {
  color: #32afff;
}

.tab a.pseudo-class-hover,
.tab a.pseudo-class-focus,
.tab a.pseudo-class-active {
  color: #ee8917;
}

.draggable__icon.pseudo-class-hover,
.draggable__icon.pseudo-class-active,
.draggable__icon.pseudo-class-focus {
  color: #211b38;
}

.details__element.pseudo-class-last-of-type {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.details__bottom .tag.pseudo-class-last-of-type {
  margin-right: 0;
}

.details__bottom .tag.pseudo-class-last-of-type:after {
  content: none;
}

.action-link.pseudo-class-last-of-type,
.action-link__wrapper a.pseudo-class-last-of-type {
  margin-right: 0;
}

.timeline__release.pseudo-class-first-child .timeline__release-progression {
  overflow: hidden;
}

.timeline__release.pseudo-class-first-child .timeline__release-content {
  margin-top: 0;
}

.timeline__release.pseudo-class-first-child .timeline__release-info {
  margin-top: 22px;
}

.timeline__release.pseudo-class-first-child .timeline__release-bar {
  top: 20px;
  background-color: #0067a2;
}

.timeline__release.pseudo-class-first-child .timeline__release-bar:before {
  top: -1px;
  border-color: #e9edee;
  background-color: #0067a2;
}

.comment-item.pseudo-class-first-of-type {
  border-top: none;
}

.comment-item__field.pseudo-class-last-of-type {
  margin-bottom: 0;
}

.fieldset__field.pseudo-class-last-of-type {
  margin-bottom: 0;
}

.fieldset--box.pseudo-class-last-of-type {
  margin-bottom: 0;
}

.pager__item > a.pseudo-class-hover,
.pager__item > a.pseudo-class-focus,
.pager__item > a.pseudo-class-active,
.pager__item > span.pseudo-class-hover,
.pager__item > span.pseudo-class-focus,
.pager__item > span.pseudo-class-active {
  color: #211b38;
  background-color: #f4f6f7;
}

.pager__item--active > span.pseudo-class-hover,
.pager__item--active > span.pseudo-class-focus,
.pager__item--active > span.pseudo-class-active,
.pager__item--active a.pseudo-class-hover,
.pager__item--active a.pseudo-class-focus,
.pager__item--active a.pseudo-class-active,
.pager__item.is-active > span.pseudo-class-hover,
.pager__item.is-active > span.pseudo-class-focus,
.pager__item.is-active > span.pseudo-class-active,
.pager__item.is-active a.pseudo-class-hover,
.pager__item.is-active a.pseudo-class-focus,
.pager__item.is-active a.pseudo-class-active {
  cursor: default;
  color: #fff;
  background-color: #27456b;
}

.pager__item--ellipsis > span.pseudo-class-hover,
.pager__item--ellipsis > span.pseudo-class-focus,
.pager__item--ellipsis > span.pseudo-class-active {
  cursor: default;
  background-color: transparent;
}

.share-box__row.pseudo-class-hover {
  cursor: pointer;
}

.ec-menu__link.pseudo-class-hover {
  text-decoration: none;
}

.social-media__item.pseudo-class-last-child {
  margin-right: 0;
}

.social-media__link span.pseudo-class-first-child {
  margin-right: 10px;
}

.social-media__link span.pseudo-class-first-child.pseudo-class-last-child {
  margin-right: 0;
}

.social-media__link.pseudo-class-hover .text {
  text-decoration: none;
}

.vertical-menu__link.pseudo-class-hover {
  text-decoration: none;
}

#block-navigation button.trigger.pseudo-class-hover,
#block-navigation button.trigger.pseudo-class-focus,
.comment-item button.trigger.pseudo-class-hover,
.comment-item button.trigger.pseudo-class-focus {
  background: #e1e1e1;
}

#password-policy-status table th.pseudo-class-first-child,
#password-policy-status table td.pseudo-class-first-child {
  display: none;
}